<?xml version="1.0"?>
<robot name="mi_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Propiedades -->
  <xacro:property name="parent_frame" value="base_link"/>
  <xacro:property name="lidar_frame"  value="laser"/>
  <xacro:property name="x" value="0.10"/>   <!-- 10 cm adelante -->
  <xacro:property name="y" value="0.0"/>
  <xacro:property name="z" value="0.20"/>   <!-- 20 cm arriba -->
  <xacro:property name="roll"  value="0.0"/>
  <xacro:property name="pitch" value="0.0"/>
  <xacro:property name="yaw"   value="0.0"/> <!-- en radianes -->

  <!-- Links -->
  <link name="${parent_frame}"/>
  <link name="${lidar_frame}"/>

  <!-- Joint fijo base_link -> laser -->
  <joint name="base_to_laser" type="fixed">
    <parent link="${parent_frame}"/>
    <child link="${lidar_frame}"/>
    <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
  </joint>

</robot>
